<% provide(:title, @tag_name) %>
<% provide(:top_left_link, link_to("<< Back", :back)) %>

<h1>
  <i class="fa fa-tag"></i>
  <%= @tag_name %>
</h1>

<div class="mb-2">
  <%= render partial: "shared/word", collection: @words %>
</div>

<%= paginate @words %>
